.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;
  /* padding: 1px;  */ 
  /* Give element something solid to push off of */
  overflow: hidden; /* Same effect as padding: 1px; */
  filter: blur(2px); /* Blur painting by 2px */
}

.frame {
  border: solid black 50px;
  width: 500px;
  padding: 50px; /* Increase space between .frame and .canvas by 50px */
  margin: 20px auto; /* Move frame down 20 px and horizontally center */
}

.rectangle-one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
  margin: 20px auto;
  box-shadow: 0 0 3px 3px #efb762; /* Increase area and soften edges */
  border-radius: 9px; /* Round each corner by 9px */
  transform: rotate(-0.6deg); /* Rotate rectangle: imperfect, hand-painted look  */
}

.rectangle-two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;
  margin: 0 auto 20px; /* Have margins push in one direction */
  box-shadow: 0 0 3px 3px #8f0401; /* Increase area, soften edges */
  border-radius: 8px 9px; /* Top-left, bot-right radii; top-right, bot-left radii */
  transform: rotate(0.4deg);
}

.rectangle-three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px); /* Blur element by 2px */
  box-shadow: 0 0 5px 5px #b20403; /* Increase area and soften edges */
  border-radius: 30px 25px 60px 12px;
  transform: rotate(-0.2deg);
}

.rectangle-one, .rectangle-two {
  filter: blur(1px);
}
